$white: #fff;
$white1: #f9f9f9;

$black: #000;
$black1: #0000000d;

$grey: #a09999;
$grey1: #9ca3af;
$grey2: #888;
$grey3: #a9a9a9;
$grey4: #ccc;
$grey5: #c2c2c2;

$brown: #4a4444e6;
$brown1: #6c6c6b56;
$brown2: #626065bf;

$blue: #0000ff;
$blue1: #1b6ef5;
$blue2: #00ffff;

$green: #2e5457;
