@import "../../../assets/styles/variable.scss";

.container {
  font-family: serif;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 10px;
  color: $black;
  background-color: $blue2;
  box-shadow: 0 4px 15px 0 $brown2;
}
