@import "../../../../assets/styles/variable.scss";

%boxshadow {
  box-shadow: 4px 4px 9.6px $grey, 0 8px 18px $black;
}

.container {
  padding: 10px;
  border-radius: 10px;
  display: flex;
  width: 100%;

  @extend %boxshadow;

  img {
    margin-right: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .title {
      font-weight: 600;
      font-size: 14px;
    }

    .description {
      font-size: 12px;
      width: max-content;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 220px;
    }

    .date {
      font-size: 12px;
    }
  }
}
